body {
  background-color: #18181b;
  font-family: "Inter", Cascadia Code, monospace;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #18181b;
  width: 1400px;
  height: 800px;
  margin: 50px auto;
  padding: 20px 20px;
  gap: 20px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  background-color: #3f3f46;
  width: 375px;
  height: 270px;
  border-radius: 15px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.right-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.content {
  background-color: transparent;
  border-radius: 15px;
  height: auto;
}

.content-section {
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #3f3f46;
  border-radius: 15px;
  padding: 12px 24px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.project-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  background-color: #3f3f46;
  border-radius: 15px;
  padding: 20px;
  max-width: 450px;
}

.name-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 0;
}

.full-name {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #d4d4d4;
  line-height: 1.1;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.github-link {
  font-family: Cascadia Code, monospace;
  font-weight: 400;
  font-size: 1.3rem;
  color: #18181b;
  letter-spacing: 0.5px;
  line-height: 1.1;
  letter-spacing: 0.5p;
  font-variant-ligatures: contextual;
  text-decoration: none;
  margin-bottom: 0;
}

.github-link:hover {
  color: #5197ac;
}

.bio {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #d4d4d4;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px solid #3f3f46;
  height: 50px;
  border-radius: 15px;
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.buttons {
  background-color: transparent;
  border-radius: 15px;
  transition-duration: 0.3s;
  color: white;
  outline: none;
  border: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 24px;
}

.buttons:hover {
  background-color: #3f3f46;
}

.buttons:focus {
  outline: none;
}

.button-text {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.project-icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  object-fit: cover;
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-title {
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #d4d4d4;
  margin: 0;
}

.project-lang {
  color: #b0b0b0;
  font-size: 0.95rem;
  margin: 0;
}

.project-desc {
  color: #b0b0b0;
  font-size: 0.95rem;
  margin-top: 6px;
}

h1 {
  color: white;
  font-size: 24px;
}

h2 {
  color: white;
  font-size: 18px;
}

.pfp {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
